Repository osam-cologne/archlinux-proaudio, pull requests merged in 2022-03, with the labels that each got.

#4 Package TuxGuitar
  packages/tuxguitar/PKGBUILD
  packages/tuxguitar/dep-versions.patch
  packages/tuxguitar/tuxguitar.sh
Labels: package

#6 PKGBUILD formatting config
  .editorconfig
  README.md
  packages/mamba/PKGBUILD
  tools/fmt.sh
Labels: tooling

#7 feat: allow to pass PACKAGE env var to pipeline to build a single package
  .drone.yml
  tools/build-package.sh
  tools/clean-build-all.sh
  tools/syncdeps-all.sh
Labels: enhancement, tooling

#12 feat: add setup for nvchecker
  nvchecker/.gitignore
  nvchecker/README.md
  nvchecker/archlinux-proaudio.toml
  nvchecker/nvchecker-notify-rocketchat.ini.tmpl
  nvchecker/nvchecker-notify-rocketchat.py
  nvchecker/old_ver.json
  nvchecker/run-nvchecker.cron
Labels: enhancement, tooling

#13 feat: add package 'string-machine'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/string-machine/PKGBUILD
  packages/string-machine/string-machine-Makefile.base.mk
Labels: package

#14 feat: add package 'midiomatic'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/midiomatic/PKGBUILD
Labels: package

#15 feat: add package 'mclk.lv2'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/mclk.lv2/PKGBUILD
Labels: package

#17 feat: add package 'python-rtmidi'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/python-rtmidi/PKGBUILD
Labels: package

#16 CI: sign and publish packages
  .drone.yml
  .gitignore
  README.md
  packages/mamba/PKGBUILD
  packages/string-machine/PKGBUILD
  tools/README.md
  tools/build-env.sh
  tools/build-package.sh
  tools/clean-build-all.sh
  tools/prepare-build.sh
  tools/syncdeps-all.sh
  tools/update-db.sh
Labels: tooling

#19 generate status badges
  .gitignore
  README.md
  tools/README.md
  tools/update-db.sh
Labels: tooling

#18 feat: add package 'ykchorus'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/ykchorus/PKGBUILD
Labels: package

#20 feat: update 'ykchorus' to version 0.2.3'
  nvchecker/old_ver.json
  packages/ykchorus/PKGBUILD
Labels: enhancement, package

#21 feat: add package 'python-pyjacklib'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/python-pyjacklib/PKGBUILD
Labels: package

#22 feat: add package 'qjackcapture'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/qjackcapture/PKGBUILD
Labels: package

#23 improve nvchecker patterns and CI
  .drone.yml
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
Labels: tooling

#24 Package Jamulus
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/jamulus/PKGBUILD
  packages/jamulus/jamulus.service
  packages/jamulus/jamulus.sysusers
  packages/jamulus/override.conf
Labels: package

#5 Package VCV Rack
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/vcvrack/.gitignore
  packages/vcvrack/PKGBUILD
  packages/vcvrack/plugins.patch
  packages/vcvrack/profile.sh
  packages/vcvrack/submodule_commits.sh
  packages/vcvrack/vcvrack.sh
Labels: package

#25 Package MIDIMonster
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/midimonster/PKGBUILD
Labels: package
