Repository osam-cologne/archlinux-proaudio, pull requests merged in 2022-10, with the labels that each got.

#116 feat: import new package 'ildaeil' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/ildaeil/PKGBUILD
Labels: package

#118 feat: import package die-plugins from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/die-plugins/.gitignore
  packages/die-plugins/PKGBUILD
Labels: package

#125 update faustlive to 2.5.12
  nvchecker/old_ver.json
  packages/faustlive/PKGBUILD
Labels: update

#122 feat: import package a-sid from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/a-sid/PKGBUILD
  packages/a-sid/a-sid-build-linux.patch
Labels: package

#127 feat: update package a-sid to 1.0.4
  nvchecker/old_ver.json
  packages/a-sid/PKGBUILD
  packages/a-sid/a-sid-build-linux.patch
Labels: update

#128 feat: import package 'fluida.lv2' from AUR
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/fluida.lv2/PKGBUILD
Labels: package

#129 feat: sync fluida.lv2 PKGBUILD to AUR
  aur/packages
Labels: enhancement

#130 fix: quoting for fluida project URL
  packages/fluida.lv2/PKGBUILD
Labels: bug

#131 feat: update package 'ildaeil' to 1.2
  nvchecker/old_ver.json
  packages/ildaeil/PKGBUILD
Labels: update

#134 update clap to v1.1.2
  nvchecker/old_ver.json
  packages/clap/PKGBUILD
Labels: update

#135 feat: import package 'jkmeter' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/jkmeter/PKGBUILD
Labels: package

#139 fix: set HOME dir for user nobody to /tmp in build environment
  tools/build-env.sh
Labels: bug, tooling

#137 feat: import package 'xtuner' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/xtuner/PKGBUILD
Labels: package

#136 feat: import package 'jmeters' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/jmeters/PKGBUILD
Labels: package

#138 feat: import package 'octasine' from AUR
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/octasine/PKGBUILD
Labels: package

#144 fix: copy .ssh to correct dest dir for push-aur script
  .drone.yml
Labels: bug, tooling
