Repository osam-cologne/archlinux-proaudio, pull requests merged in 2022-11, with the labels that each got.

#145 fix: copy .ssh to correct dest dir for push-aur script
  .drone.yml
  tools/push-aur.sh
Labels: bug, tooling

#146 feat: update mclk.lv2 to version 0.2.2
  nvchecker/old_ver.json
  packages/mclk.lv2/PKGBUILD
Labels: update

#147 feat: update 'qjackcapture' to version 0.2.0
  nvchecker/old_ver.json
  packages/qjackcapture/PKGBUILD
Labels: update

#148 update hpklinux to 4.20.38
  nvchecker/old_ver.json
  packages/hpklinux/PKGBUILD
  packages/hpklinux/build-flags.patch
Labels: update

#141 feat: import package 'abcpp' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/abcpp/PKGBUILD
  packages/abcpp/abcpp-makefile-cflags.patch
Labels: package

#149 feat: import package 'fogpad' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/fogpad/PKGBUILD
Labels: package

#150 feat: update qjackcapture to version 0.2.1
  nvchecker/old_ver.json
  packages/qjackcapture/PKGBUILD
Labels: update

#142 feat: import package 'fatfrog.lv2' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/fatfrog.lv2/.gitignore
  packages/fatfrog.lv2/PKGBUILD
Labels: package

#143 feat: import package 'littlefly.lv2' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/littlefly.lv2/.gitignore
  packages/littlefly.lv2/PKGBUILD
Labels: package

#151 fix: make sure pacman db is updated when installing openssh
  tools/push-aur.sh
Labels: bug

#152 feat: import package 'abcmidi' from AUR
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/abcmidi/PKGBUILD
Labels: package

#153 feat: import package 'darkice' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/darkice/PKGBUILD
  packages/darkice/darkice@.service
Labels: package

#119 feat: import and update package 'ot-simian' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/ot-simian/PKGBUILD
  packages/ot-simian/generate-manifest-ttl.py
Labels: package

#156 feat: import package 'rezonateur' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/rezonateur/.gitignore
  packages/rezonateur/PKGBUILD
Labels: package

#154 feat: import and update package 'triceratops' from AUR
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/triceratops/PKGBUILD
  packages/triceratops/triceratops-gui-instantiate.patch
  packages/triceratops/triceratops-remove-printf.patch
  packages/triceratops/triceratops-symbol-visibility.patch
  packages/triceratops/triceratops-ttl.patch
Labels: package

#158 feat: import package 'sfzlint' from AUR
  aur/packages
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/sfzlint/PKGBUILD
Labels: package

#159 update vcvrack to v2.2.0
  nvchecker/old_ver.json
  packages/vcvrack/PKGBUILD
  packages/vcvrack/aarch64.patch
Labels: update

#160 vcvrack: openssl/speexdsp soname depends
  packages/vcvrack/PKGBUILD
Labels: enhancement
