Repository osam-cologne/archlinux-proaudio, pull requests merged in 2022-04, with the labels that each got.

#29 Simple website
  .drone.yml
  .gitignore
  README.md
  config.yml
  tools/README.md
  web/content/_footer.md
  web/layouts/index.html
  web/layouts/partials/filesize.html
  web/layouts/partials/get-packages.html
  web/layouts/partials/package-details.html
Labels: documentation

#32 Add New Package issue template
  .github/ISSUE_TEMPLATE/new-package.md
  README.md
Labels: documentation

#33 fix: pkgdesc VST -> VST2 and no parallel build
  packages/midiomatic/PKGBUILD
Labels: bug

#34 Some website improvements
  .drone.yml
  web/content/_footer.md
  web/layouts/index.html
  web/layouts/partials/package-details.html
Labels: documentation

#31 feat: add package 'stone-phaser'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/stone-phaser/.gitignore
  packages/stone-phaser/PKGBUILD
Labels: package

#35 feat: add readme and script for local build/preview for website
  tools/preview-website.sh
  web/README.md
Labels: documentation, tooling

#39 feat: add package 'jalv-select'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/jalv-select/PKGBUILD
Labels: package

#40 Package vcf-lv2
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/vcf-lv2/PKGBUILD
Labels: package

#42 Local drone cache for pacman and sources
  .drone.yml
  tools/build-env.sh
  tools/prepare-build.sh
Labels: tooling

#41 Package Kapitonov Plugins Pack
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/kpp/PKGBUILD
Labels: package

#45 Package aether.lv2
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/aether.lv2/.gitignore
  packages/aether.lv2/PKGBUILD
Labels: package

#44 feat: add package 'abcm2ps'
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/abcm2ps/PKGBUILD
Labels: package

#11 feat: add package 'klick' using releases from fork Allfifthstuning/klick
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/klick/PKGBUILD
Labels: package

#46 Package swh-plugins.lv2
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/swh-plugins.lv2/.gitignore
  packages/swh-plugins.lv2/PKGBUILD
Labels: package

#49 disable git diff check for modified packages
  tools/README.md
  tools/prepare-build.sh
Labels: bug, tooling

#48 update mamba to v2.3
  nvchecker/old_ver.json
  packages/mamba/PKGBUILD
Labels: update

#50 Package jack-matchmaker
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/jack-matchmaker/PKGBUILD
Labels: package

#54 update tuxguitar to 1.5.6
  nvchecker/old_ver.json
  packages/tuxguitar/PKGBUILD
  packages/tuxguitar/dep-versions.patch
Labels: update

#56 fix: soname dependencies; formatting conventions
  packages/mamba/PKGBUILD
Labels: enhancement, package

#52 package hpklinux
  nvchecker/archlinux-proaudio.toml
  nvchecker/old_ver.json
  packages/hpklinux/PKGBUILD
  packages/hpklinux/build-flags.patch
Labels: package
